<form action="/add/users" method="POST">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <input class="form-control" type="text" name="name" value="" />
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <input type="email" class="form-control" name="email" value=""  required/>
    </div><br/>
    <button class="btn btn-primary" type="submit" value="Add">Add</button>
    
    
</form>